<html>
<head>

    
</head>
<body>
    <h1>IRIS FLOWER PREDICTION </h1>
    <form action ="/predict" method="POST">
        <label>sepal_length</label> <input typee="text" name="sepal_length"> <br><br>
        <label>sepal_width</label> <input typee="text" name="sepal_width"> <br><br>
        <label>petal_length</label> <input typee="text" name="petal_length"> <br><br>
        <label>petal_width</label> <input typee="text" name="petal_width"> <br><br>
        <input type="submit" value="PREDICT"> {{pred}}






    </form>
</body>

</html>